body {
  body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    padding: 20px;
  }

  h1 {
    color: #336699;
  }
}

.card {
  min-height: 500px; /* tinggi default saat awal */
  transition: all 0.3s ease;
}

.card.expand {
  min-height: auto; /* biar bisa membesar saat tombol diklik */
}
