<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!-- Menggunakan url_for untuk mengakses file statis css -->
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">WEBFLASK</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-underline">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/usia">Cek Usia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/imt">Cek IMT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <h1 class="text-center mt-4 text-success">Selamat Datang {{pesan}}</h1>
    <div class="row justify-content-center my-4 mx-5">
      <div class="col-md-3 d-flex m-3">
        <div class="card h-100 d-flex flex-column justify-content-between" style="width: 18rem">
          <img src="./static/img/kompas.png" class="card-img-top" alt="Logo_Kompas" />
          <div class="card-body">
            <h5 class="card-title text-center">Berita Kompas</h5>
          </div>
          <ul class="list-group list-group-flush list-unstyled berita-list" data-sumber="kompas">
            {% for judul in kompas %}
            <li class="list-group-item berita-item berita-kompas" {% if loop.index>3 %} style="display: none;" {% endif %}>{{ judul }}</li>
            {% endfor %}
            <li class="list-group-item">
              <a href="https://www.kompas.com/" class="card-link" target="_blank">Baca Berita Selengkapnya</a>
            </li>
          </ul>
          <div class="card-body text-center">
            <button class="btn btn-success toggle-btn" data-target="kompas">Lihat Semua</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex m-3">
        <div class="card h-100 d-flex flex-column justify-content-between" style="width: 18rem">
          <img src="./static/img/tribunnews.png" class="card-img-top" alt="Logo_Tribunnews" />
          <div class="card-body">
            <h5 class="card-title text-center">Berita Tribunnews</h5>
          </div>
          <ul class="list-group list-group-flush list-unstyled berita-list" data-sumber="tribun">
            {% for judul in tribunNews %}
            <li class="list-group-item berita-item berita-tribun" {% if loop.index>3 %} style="display: none;" {% endif %}>{{ judul }}</li>
            {% endfor %}
            <li class="list-group-item">
              <a href="https://www.tribunnews.com/" class="card-link" target="_blank">Baca Berita Selengkapnya</a>
            </li>
          </ul>
          <div class="card-body text-center">
            <button class="btn btn-success toggle-btn" data-target="tribun">Lihat Semua</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex m-3">
        <div class="card h-100 d-flex flex-column justify-content-between" style="width: 18rem">
          <img src="./static/img/cnnindonesia.png" class="card-img-top" alt="Logo_Kompas" />
          <div class="card-body">
            <h5 class="card-title text-center">Berita CNN Indonesia</h5>
          </div>
          <ul class="list-group list-group-flush list-unstyled berita-list" sumber-berita="cnn">
            {% for judul in cnnIndonesia %}
            <li class="list-group-item berita-item berita-cnn" {% if loop.index>3 %} style="display: none;" {% endif %}>{{ judul }}</li>
            {% endfor %}
            <li class="list-group-item">
              <a href="https://www.cnnindonesia.com/" class="card-link" target="_blank">Baca Berita Selengkapnya</a>
            </li>
          </ul>
          <div class="card-body text-center">
            <button class="btn btn-success toggle-btn" data-target="cnn">Lihat Semua</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
